<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
  <div class="col-3 px-2">
    <table class="table">
      <thead>
        <tr class="thead-light">
          <th scope="col">Trends</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-2">Trend 1</td>
        </tr>
        <tr>
          <td class="p-2">Trend 2</td>
        </tr>
        <tr>
          <td class="p-2">Trend 3</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="col-6">
  

  <div class="card mb-2" style="width: 32rem;">
    <div class="card-body">
      <div class="float-left mr-4"> 
      <img src="https://via.placeholder.com/75" alt="Profile" class="rounded-circle">
      </div>
      <h6 class="card-title mb-0">Tuitt about it</h5>
      <div class="blockquote-footer mb-2">Share your thinking with the world!</div>
      <%= form_for @newtuitt do |form| %>
          <% if @newtuitt.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tuitt.errors.count, "error") %> prohibited this tuitt from being saved:</h2>

          <ul>
            <% @newtuitt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div class="field">
          <%= form.text_area :tuitt, class: "w-75" %>
        </div>
        
        <div class="actions text-right">
          <%= form.submit "Post Tuitt", class: 'btn btn-primary mr-3'%>
        </div>
      <% end %>
      </div>
    </div>

      <% @tuitts.each do |tuitt| %>
        <% if tuitt.user.id == current_user.id %>
          <div class="card mb-2" style="width: 32rem;">
          <div class="card-body">
            <div class="float-left mr-4"> 
            <img src="https://via.placeholder.com/75" alt="Profile" class="rounded-circle">
            </div>
            <h6 class="card-title text-muted"><%= tuitt.user.name %></h5>
            <h6 class="card-subtitle mb-2"><%= tuitt.tuitt %></h6>
            <div class="blockquote-footer"><%= time_ago_in_words(tuitt.created_at) %> ago by @<%= tuitt.user.username %></div>
            <div class="edit-buttons">
            <%= link_to tuitt, class: "text-decoration-none" do %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>
            <% end %>

            <%= link_to edit_tuitt_path(tuitt), class: "text-decoration-none" do %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
            <% end %>

            <%= link_to tuitt, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
            <% end %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
</div>

<div class="col-3 px-2">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th scope="col">Who to follow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Ricardo Montenegro
          <div class="blockquote-footer">@ricardo</div>
          </td>
        </tr>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Kingsley Ibeh
          <div class="blockquote-footer">@kinglsey</div>
          </td>
        </tr>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Martin Najjar
          <div class="blockquote-footer">@martin</div>
          </td>
        </tr>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Guillain Bisimwa
          <div class="blockquote-footer">@guillain</div>
          </td>
        </tr>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Andjela Vukadinovic
          <div class="blockquote-footer">@andjela</div>
          </td>
        </tr>
        <tr>
          <td class="p-1">
          <div class="float-left mr-3"> 
          <img src="https://via.placeholder.com/30" alt="Profile" class="rounded-circle">
          </div>
          Gabriel Suarez
          <div class="blockquote-footer">@gabriel</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>


