<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white font-weight-bold" href="/" ><h2 class="p-0 m-0">Tuitter</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Tuitt List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white disabled" href="#" tabindex="-1" aria-disabled="true">Log In</a>
      </li> %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn btn-link my-2 my-sm-0 bg-white text-decoration-none" data-toggle="modal" data-target="#exampleModalCenter">
        New Tuitt
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-100" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Post a new Tuitt</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% if user_signed_in? %>
                 <div class="card mb-2 border-0" style="width: 32rem;">
                  <div class="card-body">
                    <div class="float-left mr-4"> 
                    <%= image_tag current_user.gravatar_url, class: "rounded-circle" %>
                    </div>
                    <h6 class="card-title mb-0">Tuitt about it</h5>
                    <div class="blockquote-footer mb-2">Share your thinking with the world!</div>
                    FORM TO TUITT GOES HERE
                  </div>
              </div>
              <% else %>
                <p class="font-weight-bold color-danger">You must be signed in to post.</p>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-3">
          <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>">Edit Account Details</a>
          <a class="dropdown-item" href="<%= mytuitts_path %>">Just My Tuitts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= edit_user_registration_path %>">Cancel my account</a>
        </div>
      </li>
        </ul>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn btn-link my-2 my-sm-0 text-white text-decoration-none" %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: "btn btn btn-link my-2 my-sm-0 text-white text-decoration-none" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn btn-link my-2 my-sm-0 text-white text-decoration-none" %>
      <% end %>
    </form>
  </div>
</nav>